table{
    margin:5px;
    width:99%;
}
th{
    cursor: pointer;
    margin-right: 15px;
    margin-left: 15px;
}
.active span{
    visibility: visible;
    color:red;
    
    
}

span {
    visibility: hidden;
  
  }